@using MusicApplication.Data.Enums
@using MusicApplication.ViewModels
@model CreateSongViewModel

@{
    ViewData["Title"] = "Add a new song";
}

<div class="container">
    <div class="row text-white">
        <div class="col-md-8 offset-md-2" style="margin-top: 30px; margin-bottom: 10px;">
            <h4 class="text-purple">Add a New Song</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group mb-3">
                    <label asp-for="Image" class="control-label text-purple" style="font-size: 1.1rem;"></label>
                    <input asp-for="Image" class="form-control bg-lighter-dark text-white border-purple" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Name" class="control-label text-purple" style="font-size: 1.1rem;"></label>
                    <input asp-for="Name" class="form-control bg-lighter-dark text-white border-purple" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Description" class="control-label text-purple" style="font-size: 1.1rem;"></label>
                    <input asp-for="Description" class="form-control bg-lighter-dark text-white border-purple"  />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Download" class="control-label text-purple" style="font-size: 1.1rem;"></label>
                    <input asp-for="Download" class="form-control bg-lighter-dark text-white border-purple" />
                    <span asp-validation-for="Download" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Date" class="control-label text-purple" style="font-size: 1.1rem;"></label>
                    <input asp-for="Date" type="date" class="form-control bg-lighter-dark text-white border-purple" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Genre" class="text-purple" style="font-size: 1.1rem;"></label>
                    <select asp-for="Genre" asp-items="@Html.GetEnumSelectList<SongGenre>()" class="form-control bg-lighter-dark text-white border-purple">
                        <option selected="selected">--Select--</option>
                    </select>
                    <span asp-validation-for="Genre" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="AlbumId" class="text-purple" style="font-size: 1.1rem;">Album</label>
                    <select asp-for="AlbumId" class="form-control bg-lighter-dark text-white border-purple">
                        <option selected="selected">--Select--</option>
                        @foreach (var album in Model.Album)
                        {
                            <option value="@album.Id">@album.Name</option>
                        }
                    </select>
                    <span asp-validation-for="AlbumId" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="MusicHouseId" class="text-purple" style="font-size: 1.1rem;">Music House</label>
                    <select asp-for="MusicHouseId" class="form-control bg-lighter-dark text-white border-purple">
                        <option selected="selected">--Select--</option>
                        @foreach (var musicHouse in Model.MusicHouse)
                        {
                            <option value="@musicHouse.Id">@musicHouse.Name</option>
                        }
                    </select>
                    <span asp-validation-for="MusicHouseId" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="ArtistIds" class="text-purple" style="font-size: 1.1rem;">Artists:</label>
                    <select asp-for="ArtistIds" class="form-control bg-lighter-dark text-white border-purple">
                        @foreach (var artist in Model.Artists)
                        {
                            <option value="@artist.Id">@artist.FullName</option>
                        }
                    </select>
                    <span asp-validation-for="ArtistIds" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-purple btn-sm float-right d-flex align-items-center justify-content-center px-4 py-2">
                        <i class="bi bi-plus-square me-1"></i> Create
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ImageUrl").val();
        });
        $("#ImageUrl").on("change", function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $(this).val();
        });
    </script>
}

<style>
    body {
        background-color: #F3F4F8;
    }

    .text-purple {
        color: #6C5B7B; /* Lighter purple */
        margin-bottom: 3px;
    }

    .form-control.bg-lighter-dark {
        background-color: #444;
        border-color: #6C5B7B; /* Lighter purple */
        color: #FFF;
    }

    .btn-purple {
        background-color: #6C5B7B; /* Lighter purple */
        border-color: #6C5B7B; /* Lighter purple */
        color: white;
        border-radius: 10px;
        padding: 10px 20px; /* Increased padding */
    }

    .btn-purple:hover {
        background-color: #8A6D8E; /* Slightly lighter on hover */
        color: #FFF;
    }

    .border-purple {
        border-color: #6C5B7B; /* Lighter purple */
    }
</style>
